# MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASS=root

# Backup
BACKUP_DIR=/usr/local/backup/mysql
LOG_FILE=/var/log/backup_mysql.log

# SMTP
SMTP_SERVER=smtp.dominio.com.br
SMTP_PORT=587
SMTP_USER=email@dominio.com.br
SMTP_PASS=senha_email

# Email
EMAIL_FROM=email@dominio.com.br
EMAIL_TO=email1@dominio_x.com.br
EMAIL_CC=admin@dominio_y.com.br
