{{define "title"}}{{ T $.Lang `Logs_Title` }} - Go-PostfixAdmin{{end}}
{{define "breadcrumb"}}{{ T $.Lang `Logs_Title` }}{{end}}

{{define "content"}}
<div class="mb-12 flex justify-between items-end">
    <div>
        <h2 class="text-4xl font-mono font-black uppercase tracking-tight mb-2">{{ T $.Lang `Logs_Title` }}</h2>
        <p class="text-xs font-bold uppercase tracking-widest text-gray-400">{{ T $.Lang `Logs_Subtitle` }}</p>
    </div>
</div>



<div class="bg-white border-2 border-brand-text overflow-hidden pt-4 pb-1 p-2 neo-shadow-sm">
    <div class="overflow-x-auto">
        <table id="logsTable" class="w-full text-left border-collapse border-2 border-brand-text">
            <thead class="bg-brand-primary text-white border-b-2 border-brand-text">
                <tr>
                    <th class="text-left text-xs font-black uppercase tracking-widest text-white">{{ T $.Lang
                        `Logs_TblDateTime` }}
                    </th>
                    <th class="text-left text-xs font-black uppercase tracking-widest text-white">{{ T $.Lang
                        `Logs_TblAdmin` }}
                    </th>
                    <th class="text-left text-xs font-black uppercase tracking-widest text-white">{{ T $.Lang
                        `Logs_TblDomain` }}
                    </th>
                    <th class="text-left text-xs font-black uppercase tracking-widest text-white">{{ T $.Lang
                        `Logs_TblAction` }}
                    </th>
                    <th class="text-left text-xs font-black uppercase tracking-widest text-white">{{ T $.Lang
                        `Logs_TblDesc` }}
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 text-sm">
            </tbody>
        </table>
    </div>
</div>

<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/logs-datatable.css" />

<script>
    window.AppLang = "{{$.Lang}}";
</script>
<script type="text/javascript" src="/static/js/logs-datatable.js"></script>
{{end}}