
##Setup password is : mysecretpassword

services:
   mariadb:
     image: mariadb:10.11
     ports:
       - 3318:3306
     volumes:
       - ./_dbdata:/var/lib/mysql
     restart: unless-stopped
     environment:
       - MARIADB_ROOT_PASSWORD=root
       - MARIADB_DATABASE=postfixadmin
       - MARIADB_USER=postfixadmin
       - MARIADB_PASSWORD=postfixadminPassword
       - TZ=America/Sao_Paulo
     command:
       - --default-authentication-plugin=mysql_native_password
       - --explicit-defaults-for-timestamp=ON
       - --character-set-server=utf8
       - --collation-server=utf8_general_ci
       - --general-log=1
       - --general-log-file=/var/lib/mysql/mysql.log
       - --default-time-zone=-03:00


   postfixadmin:
     depends_on:
       - mariadb
     image: postfixadmin-image:latest
     ports:
       - "8000:80"
     volumes:
       - ./config.local.php:/var/www/html/config.local.php
     restart: always
     environment:
       TZ: America/Sao_Paulo
       POSTFIXADMIN_DB_TYPE: mysqli
       POSTFIXADMIN_DB_HOST: mariadb
       POSTFIXADMIN_DB_USER: postfixadmin
       POSTFIXADMIN_DB_NAME: postfixadmin
       POSTFIXADMIN_DB_PASSWORD: postfixadminPassword
       POSTFIXADMIN_SMTP_SERVER: postfix
       POSTFIXADMIN_SETUP_PASSWORD: $$2y$$10$$8./sbCrwpLGeWv/6auLtC.ROq/pRpm573QNdISESNqZ9p0uoL3eq6
       POSTFIXADMIN_SMTP_PORT: 25
       POSTFIXADMIN_ENCRYPT: md5crypt

   phpmyadmin:
     image: phpmyadmin
     restart: unless-stopped
     depends_on:
       - mariadb
     ports:
       - "8002:80"
     environment:
       - PMA_HOST=mariadb
       - MARIADB_ROOT_PASSWORD=root
       - TZ=America/Sao_Paulo

